{% extends 'WebBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Sou PHPSP e Contribuo{% endblock %}

{% block stylesheets %} 
{{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/souphpsp/css/souphpsp.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}

{% block content %}
	<nav>
		<ul>
			<li><a href="/souphpsp">Home</a></li>
			<li><a href="/souphpsp/contribution">Minhas contribuições</a></li>
			<!--<li><a href="/souphpsp/event">Eventos</a></li>-->
			<li><a href="/souphpsp/challenge">Desafios <span class="label success">{{challengeActiveCount()}}</span></a></li>
			<li><a href="/souphpsp/about/projects">Projetos</a></li>
			<li><a href="/souphpsp/about/sponsors">Patrocinadores</a></li>
			<li><a href="/souphpsp/about">Regulamento</a></li>
			{% if is_granted('ROLE_ADMIN') %}
			<li><a href="/souphpsp/admin">Administração</a></li>
			{% endif %}
		</ul>
	</nav>
	{% block souphpsp_content %}{% endblock %}
	
{% endblock %}


