<h1>Project</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Site</th>
            <td>{{ entity.site }}</td>
        </tr>
        <tr>
            <th>Repository</th>
            <td>{{ entity.repository }}</td>
        </tr>
        <tr>
            <th>Howtocontribute</th>
            <td>{{ entity.howtocontribute }}</td>
        </tr>
        <tr>
            <th>Contactname</th>
            <td>{{ entity.contactName }}</td>
        </tr>
        <tr>
            <th>Contactemail</th>
            <td>{{ entity.contactEmail }}</td>
        </tr>
        <tr>
            <th>About</th>
            <td>{{ entity.about }}</td>
        </tr>
        <tr>
            <th>Wheretohelp</th>
            <td>{{ entity.whereToHelp }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
