{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

<div class="s8 gutter">
	<div class="s8 regular_p">
		<h1 id=""sou_phpsp_e_contribuo!"">"Sou PHPSP e contribuo!"</h1>
		<p>O PHPSP quer que você seja um contribuidor de projetos Open Source, queremos que você ajude projetos e ao mesmo tempo expanda sua rede de contatos e faça o seu nome crescer no mercado. Para fazer isso o PHPSP vai sortear <strong>diversos prêmios</strong> para que você dê o primeiro passo!</p>
		
		<p><a href="/souphpsp/about">Saiba mais e veja o regulamento aqui</a></p>
	</div>
	
	<div class="s4 gutter hgutter">
		<h2>Estatísticas</h2>
		<ul class="stats_list">
			<li><strong>Total de contribuições:</strong> {{stats.total}}</li>
			{% if stats.total > 0 %}
			<li><strong>Projeto mais ativo:</strong> {{stats.top_project.0.project.name}} ({{stats.top_project.pCount}})</li>
			{% for status in stats.status %}
			<li>
				<strong>Contribuições {% if status.status == 0 %}rejeitadas{% elseif status.status == 1 %}aprovadas{% else %}em avaliação{% endif %}:</strong> {{status.sCount}}
			</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>
	
	<div class="s4">
		<h2>Ranking</h2>
		<ol class="ranking_list">
			{% for contrib in ranking %}
			<li>#{{loop.index}}. <a href="http://twitter.com/{{userData[contrib.0.userId].screen_name}}">{{userData[contrib.0.userId].name}}</a> - {{contrib.contribs}} contribuições</li>
			{% else %}
			<p>nenhuma contribuição computada</p>
			{% endfor %}
		</ol>
	</div>
	<div class="s8 sponsor_list">
		<h1 id="patrocinadores">Patrocinadores</h1>
		{% for sponsor in sponsors %}
		<a href="{{sponsor.site}}" title="{{sponsor.name}}"><img src="{{ asset(sponsor.logo) }}" alt="{{sponsor.name}}"></a>
		{% endfor %}
		<p class="besponsor centered"><a href="{{path('beasponsor')}}">Quero ser um patrocinador!</a></p>
	</div>
</div>
<div class="s4">
	<h2>Prêmios</h2>
	<ul class="prize_list">
		{% for prize in prizes %}
		<li>
			<div style="background-image: url('{{ asset(prize.picture) }}');" class="prize">
				<div class="quantity">{{prize.quantity}}x</div>
			</div>
			<div id="prize_{{prize.id}}" class="info">
				{{prize.description}}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}