{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

<div class="s12 group about_user">
	<div class="s6 gutter user_info">
		<img src="{{ user.profile_image_url }}" alt="{{ user.screen_name }}">
		<p><strong>{{user.name}} ({{ user.screen_name }})</strong></p>
		<p>{{ user.location }}</p>
		<p>{{ user.description }}</p>
	</div>
	<div class="s5 user_stats">
		<ul>
			<li>Contribuições: 45</li>
			<li>32 aceitas, 13 pendentes, 1 rejeitada</li>
		</ul>
	</div>	
</div>


<div class="s12">
	<h1 id="">Contribuições</h1>
	<ul class="admin_contrib_list">
		{% for contrib in contribs %}
		<li>
			<img src="{{ getTwitterInfo(contrib.userId).profile_image_url }}" alt="{{ getTwitterInfo(contrib.userId).screen_name }}">
			<p class="notes"><span>&#8220;</span>{{ contrib.notes }}<span>&#8221;</span></p>
			<p class="user_info"><a href="http://www.twitter.com/{{ getTwitterInfo(contrib.userId).screen_name }}">{{ getTwitterInfo(contrib.userId).screen_name }}</a>, {{ contrib.dateAdded|date("d/mY H:i") }}</p>
			<p class="title">{{ contrib.type }}: {{ contrib.project.name }} - <a href="{{ contrib.reference }}">referência</a></p>
			<p class="desc">{{ contrib.description }}</p>

		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}