{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

<div class="row">
	<div class="span16 about_user">
		<div class="row">
			<div class="span10 user_info">
				<div>
					<img src="{{ user.profile_image_url }}" alt="{{ user.screen_name }}">
					<h2>{{user.name}} ({{ user.screen_name }})</h2>
					<p class="location">{{ user.location }}</p>
				</div>
				<p class="desc">{{ user.description }}</p>
			</div>
			<div class="span6 user_stats">
				<ul>
					<li>Contribuições: {{stats.total}}</li>
					<li>{% for status in stats.status %}
					{{status.sCount}} {% if status.status == 0 %}rejeitadas{% elseif status.status == 1 %}aprovadas{% else %}em avaliação{% endif %}{% if not(loop.last) %},{% endif %}
					{% endfor %}
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<!-- <div class="row">
	<div class="span-two-thirds">
		<h1>Contribuições</h1>
		
		<h2 id="contrib-approved">Aprovadas</h2>
		
		<h2 id="contrib-denied">Rejeitadas</h2>
		
	</div>
	<div class="span-one-third">
		<h2>Estatísticas</h2>
	</div>
</div> -->

<div class="row">
	<div class="span16">
		<h1 id="">Contribuições</h1>
		<ul class="user_contrib_list">
			{% for contrib in contribs %}
			<li class="clearfix">
				<p class="notes span6"><span>&#8220;</span>{{ contrib.notes }}<span>&#8221;</span></p>
				<div>
					<img src="{{ getTwitterInfo(contrib.userId).profile_image_url }}" alt="{{ getTwitterInfo(contrib.userId).screen_name }}">
					<p class="user_info"><a href="http://www.twitter.com/{{ getTwitterInfo(contrib.userId).screen_name }}">{{ getTwitterInfo(contrib.userId).screen_name }}</a>, {{ contrib.dateAdded|date("d/mY H:i") }}</p>
					<p class="title status_{{contrib.status}}">{{ contrib.type }}: {{ contrib.project.name }} - <a href="{{ contrib.reference }}">referência</a></p>
				</div>
				
				<p class="desc">{{ contrib.description }}</p>

			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}