{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1>Desafios</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Prize</th>
            <th># Winners</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_challenge_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.prize }}</td>
            <td>{{ entity.qtdWinners }}</td>
            <td>{{ entity.startDate|date('d/m/Y H:i') }}</td>
            <td>{{ entity.endDate|date('d/m/Y H:i') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_challenge_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_challenge_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_challenge_select_winners', {'id': entity.id}) }}">vencedores</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_challenge_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}

