{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1>Challenge</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Prize</th>
            <td>{{ entity.prize }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th># Vencedores</th>
            <td>{{ entity.qtdWinners }}</td>
        </tr>
        <tr>
            <th>Startdate</th>
            <td>{{ entity.startDate|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Enddate</th>
            <td>{{ entity.endDate|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Participantes</th>
            <td>
                <ul>
                    {% for contribution in entity.contributions  %}
                    <li>
                        <strong>{{ getTwitterInfo(contribution.userId).screen_name }}:</strong> <a href="{{ path('contribution_show', {'id': contribution.id}) }}">{{contribution.type}} - {{contribution.project.name}}</a>: {{contribution.description}} 
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Vencedores</th>
            <td>
                <ul>
                    {% for contribution in entity.winners  %}
                    <li>
                        <strong>{{ getTwitterInfo(contribution.userId).screen_name }}:</strong> <a href="{{ path('contribution_show', {'id': contribution.id}) }}">{{contribution.type}} - {{contribution.project.name}}</a>: {{contribution.description}} 
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_challenge') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_challenge_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_challenge_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}

