{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1>Suas Contribuições</h1>

<div class="s6 gutter">
	<div id="contrib-approved" class="s6">
		<h2>Contribuições Aceitas</h2>
		<ul class="contrib-list approved">
			{% for contrib in entities.1 %}
			<li>
				<p class="date">{{ contrib.dateRevised|date("d/F H:i") }}</p>
				<p class="title">{{ contrib.type }} - {{ contrib.project.name }}</p>
				<p class="description">{{ contrib.description }}</p>
				
			</li>
			{% else %}
			<li class="empty">nenhuma contribuição aceita</li>
			{% endfor %}
		</ul>
	</div>

	<div id="contrib-denied" class="s6">
		<h2>Contribuições rejeitadas</h2>
		<ul class="contrib-list denied">
			{% for contrib in entities.0 %}
			<li >
				<p class="date">{{ contrib.dateRevised|date("d/F H:i") }}</p>
				<p class="title"><a href="{{ path('contribution_show', { 'id': contrib.id }) }}">{{ contrib.type }}</a> - {{ contrib.project.name }}</p>
				<p class="description">{{ contrib.description }}</p>
				<p class="denial group">
					"{{ contrib.reasonDenied }}"<br>
					<a href="http://twitter.com/{{getTwitterInfo(contrib.mentorId).screen_name}}" class="mentor" >{{getTwitterInfo(contrib.mentorId).screen_name}}</a>
				</p>
			</li>
			{% else %}
			<li class="empty">nenhuma contribuição rejeitada</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div id="contrib-pending" class="s6">
	<h2>Contribuições em avaliação</h2>
	<ul class="contrib-list pending">
		{% for contrib in entities.2 %}
		<li>
			<p class="date">{{ contrib.dateAdded|date("d/F H:i") }}</p>
			<p class="title">{{ contrib.type }} - {{ contrib.project.name }}</p>
			<p class="description">{{ contrib.description }}</p>
		</li>
		{% else %}
		<li class="empty">nenhuma contribuição aguardando avaliação</li>
		{% endfor %}
	</ul>
</div>



<ul>
    <li>
        <a href="{{ path('contribution_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}