{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1>Contribuição</h1>

<div class="show-contrib">
	<div class="s7 gutter">
		<h2>{{entity.type}}: {{entity.project.name}} (<a href="{{entity.reference}}">referência</a>)</h2>
		<p class="desc"><span class="date">{{ entity.dateAdded|date('d/m/Y H:i') }}</span> - {{entity.description}}</p>
		<p>{{entity.notes}}</p>
	</div>
	
	<div class="s4 status_box box_default">
		<p class="status_{{entity.status}}">
			{% if entity.status == 0 %}
			Rejeitada
			{% elseif entity.status == 1 %}
			Aprovada
			{% else %}
			Em Avaliação
			{% endif %}
		</p>
		{% if entity.status != 2 %}
		<p class="mentor">por <strong>{{getTwitterInfo(entity.mentorId).screen_name}}</strong> em {{ entity.dateRevised|date('d/m/Y H:i') }}</p>
			{% if entity.status == 0 %}
			<p class="reason">&#8220;{{entity.reasonDenied}}&#8221;</p>
			{% endif %}
		{% endif %}
	</div>


</div>

{% if entity.status == 2 %}
<form class="delete" action="{{ path('contribution_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit">Remover</button>
</form>
{% endif %}
{% endblock %}

